.form-base fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 10px;
  font-size: 1.35rem;
  padding: 15px;
  padding-top: 8px;
}

.form-base fieldset legend {
  font-size: 1.25em;
  font-weight: bold;
}

.form-base fieldset button[type="submit"] {
  color: #f1f1f1;
  background-color: var(--blue);
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 1.15em;
  padding: 2px;
  cursor: pointer;
}

.form-base fieldset>strong {
  display: block;
  border-radius: inherit;
  text-align: center;
  font-size: 0.65em;
  padding: var(--main-padding) 0;
  animation: 450ms linear 0s general-error-popup;
}

@keyframes general-error-popup {
  from {
    opacity: 0;
  }

  50% {
    box-shadow: 0 0 6px var(--general-error-popup-border);
    opacity: 1;
  }

  100% {
    box-shadow: none;
  }
}

.form-base fieldset.dark {
  color: var(--dark-main-text-color);
  border: 2px solid var(--dark-border-color);

  strong {
    --general-error-popup-border: var(--dark-secondary-text-color);

    background-color: color-mix(in srgb, #eee 10%, transparent);
  }
}


.form-base fieldset.light {
  color: var(--light-main-text-color);
  border: 2px solid var(--light-border-color);

  strong {
    --general-error-popup-border: var(--light-secondary-text-color);

    background-color: color-mix(in srgb, #222 15%, transparent);
  }
}