.form-base fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 10px;
  font-size: 1.35rem;
  padding: 15px;
  padding-top: 8px;
}

.form-base fieldset.dark {
  color: var(--dark-main-text-color);
  border: 2px solid var(--dark-border-color);
}

.form-base fieldset.light {
  color: var(--light-main-text-color);
  border: 2px solid var(--light-border-color);
}

.form-base fieldset legend {
  font-size: 1.25em;
  font-weight: bold;
}

.form-base fieldset button[type="submit"] {
  color: #f1f1f1;
  background-color: var(--blue);
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 1.15em;
  padding: 2px;
  cursor: pointer;
}