.input-field__password-wrapper {
  display: flex;
  gap: 5px;

  input {
    flex: 1;
  }
}

.input-field__password--visibility-btn {
  display: inline-grid;
  align-items: center;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 3px;
  cursor: pointer;

  svg {
    width: 20px;
  }
}