.svg-wrapper__rounded-btn {
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--common-hover-color);
  }
}

.svg-wrapper__rounded-btn.small {
  width: 24px;
  height: 24px;

  svg {
    width: 20px;
  }
}

.svg-wrapper__rounded-btn.medium {
  width: 35px;
  height: 35px;

  svg {
    width: 25px;
  }
}

.svg-wrapper__rounded-btn.large {
  width: 48px;
  height: 48px;

  svg {
    width: 42px;
  }
}