.svg-wrapper__rounded-btn {
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: var(--common-hover-color);
  }
}

.svg-wrapper__rounded-btn.small {
  width: 28px;
  height: 28px;
  padding: 5px;
}

.svg-wrapper__rounded-btn.medium {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.svg-wrapper__rounded-btn.large {
  width: 52px;
  height: 52px;
  padding: 10px;
}