.nav-bar {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 0 15px;
  font-size: 1rem;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  text-wrap: nowrap;
}

.nav-bar__start {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-bar__end {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* theme switcher and user related info */
.nav-bar__end>div {
  display: flex;
  align-items: center;
}

.nav-bar__end>div>section {
  position: relative;
  margin-left: 12px;
  padding-left: 12px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
  }
}

/* search bar section */

.nav-bar__recipes-search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-bar__recipes-search .search-bar__wrapper {
  width: min(100%, 380px);
}

.nav-bar__recipes-search>button {
  display: none;
}

.nav-bar__recipes-search .overlay-search-bar__wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 20px;
  position: absolute;
  inset: 0;
  z-index: 1;

  form {
    flex: 1;
    grid-template-columns: 1fr auto;
  }
}

/* themes config */

.nav-bar.dark {
  border-bottom: 1px solid var(--dark-border-color);

  .nav-bar__start button {
    color: var(--light-main-bg-color);
  }

  .nav-bar__end>div>section::before {
    background-color: #c3c3c3;
  }

  .overlay-search-bar__wrapper {
    background-color: var(--dark-main-bg-color);
  }
}

.nav-bar.light {
  border-bottom: 1px solid var(--light-border-color);

  .nav-bar__start button {
    color: var(--dark-main-bg-color);
  }

  .nav-bar__end>div>section::before {
    background-color: #222;
  }

  .overlay-search-bar__wrapper {
    background-color: var(--light-main-bg-color);
  }
}

@media screen and (min-width: 655px) {

  /*prevent the overlay from shadowing the nav bar */
  .nav-bar__recipes-search .overlay-search-bar__wrapper {
    display: none;
  }
}

@media screen and (max-width: 655px) {
  .nav-bar__recipes-search .search-bar__wrapper {
    display: none;
  }

  .nav-bar__recipes-search>button {
    display: block;
  }
}