.nav-bar {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 0 15px;
  font-size: 1rem;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  text-wrap: nowrap;
}

.nav-bar__start {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-bar__start>button {
  display: grid;
  align-items: center;
  outline: none;
  border: 1px solid var(--common-hover-color);
  background-color: transparent;
  cursor: pointer;

  svg {
    width: 25px;
  }

  &:hover {
    background-color: var(--common-hover-color);
  }
}

.nav-bar__end {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;

  /* theme switcher and user related info */
  &>div {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

/* search bar section */

.nav-bar__recipes-search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-bar__recipes-search .search-bar__wrapper {
  width: 100%;
}

.nav-bar__recipes-search>button {
  display: none;
}

.nav-bar__recipes-search .overlay-search-bar__wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;

  form {
    flex: 1;
    grid-template-columns: 1fr auto;
  }
}

.nav-bar.dark {
  border-bottom: 1px solid var(--dark-border-color);

  .nav-bar__start button {
    color: var(--light-main-bg-color);
  }

  .overlay-search-bar__wrapper {
    background-color: var(--dark-main-bg-color);
  }
}

.nav-bar.light {
  border-bottom: 1px solid var(--light-border-color);

  .nav-bar__start button {
    color: var(--dark-main-bg-color);
  }

  .overlay-search-bar__wrapper {
    background-color: var(--light-main-bg-color);
  }
}

@media screen and (min-width: 655px) {

  /*prevent the overlay from shadowing the nav bar */
  .nav-bar__recipes-search .overlay-search-bar__wrapper {
    display: none;
  }
}

@media screen and (max-width: 655px) {
  .nav-bar__recipes-search .search-bar__wrapper {
    display: none;
  }

  .nav-bar__recipes-search>button {
    display: block;
  }
}