.nav-bar {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 0 15px;
  font-size: 1rem;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  text-wrap: nowrap;
}

.nav-bar__start {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-bar__end {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* search bar section */

.nav-bar__recipes-search {
  flex: 1;
  display: flex;
  justify-content: center;

  .search-bar__wrapper {
    width: min(100%, 380px);
  }

  /* open search bar and close search bar buttons */
  &>button,
  .search-bar__wrapper>button {
    display: none;
  }
}

@media screen and (max-width: 655px) {
  .nav-bar__recipes-search .search-bar__wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 20px;
    position: absolute;
    inset: 0;
    z-index: 1;

    &.hidden {
      display: none;
    }

    &>button {
      display: block;
    }
  }

  /* open search bar button */
  .nav-bar__recipes-search>button {
    display: block;
  }
}

/* theme switcher and user related info */

.nav-bar__end>div {
  display: flex;
  align-items: center;
}

.nav-bar__end>div>section {
  position: relative;
  margin-left: 12px;
  padding-left: 12px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
  }
}

/* themes config */

.nav-bar.dark {
  border-bottom: 1px solid var(--dark-border-color);

  .nav-bar__end>div>section::before {
    background-color: var(--grey);
  }

  .nav-bar__recipes-search .search-bar__wrapper {
    background-color: var(--dark-main-bg-color);
  }
}

.nav-bar.light {
  border-bottom: 1px solid var(--light-border-color);

  .nav-bar__end>div>section::before {
    background-color: #222;
  }

  .nav-bar__recipes-search .search-bar__wrapper {
    background-color: var(--light-main-bg-color);
  }
}