.nav-bar__recipes-search--form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;

  input,
  button {
    box-sizing: border-box;
    height: 35px;
  }
}

.nav-bar__recipes-search--form input {
  min-width: 30px;
  background-color: transparent;
  outline: none;
  border-radius: 40px 0 0 40px;
  padding: 0 0 0 10px;
  font-size: 1em;

  &:focus {
    outline: 1px solid var(--blue) !important;
    outline-offset: -1px;
    border: none;
  }

  &::placeholder {
    opacity: 1;
  }
}

.nav-bar__recipes-search--form button {
  width: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 0 40px 40px 0;
  border: none;
  cursor: pointer;

  svg {
    width: 60%;
  }
}

.nav-bar__recipes-search--form.dark {
  input {
    color: var(--dark-main-text-color);
    border: 1px solid var(--light-main-bg-color);
  }

  button {
    background-color: var(--light-main-bg-color);
    color: var(--dark-main-bg-color);
  }
}

.nav-bar__recipes-search--form.light {
  input {
    color: var(--light-main-text-color);
    border: 1px solid var(--dark-main-bg-color);
  }

  button {
    background-color: var(--dark-main-bg-color);
    color: var(--light-main-bg-color);
  }
}