.nav-bar__signup--link {
  border-radius: var(--border-radius);
  padding: var(--main-padding);

  &.dark {
    border: 1px solid var(--light-border-color);
  }

  &.light {
    border: 1px solid var(--dark-border-color);
  }
}