.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent;
}

.page__nav-bar {
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 2000;
}

.page__content {
  display: grid;
  flex: 1;
  margin-top: 55px;
}

.page.dark {
  background-color: var(--dark-main-bg-color);
  color: var(--dark-main-text-color);

  .page__nav-bar {
    background-color: var(--dark-main-bg-color);
  }
}

.page.light {
  background-color: var(--light-main-bg-color);
  color: var(--light-main-text-color);

  .page__nav-bar {
    background-color: var(--light-main-bg-color);
  }
}